{% if show_lm %}
<div class="col-sm-12 col-md-6 col-lg-6 mb-3">
    <div class="border rounded-3 border-grey position-relative pb-5">
        <div class="p-3">
            <h5 class="mb-0">{{ note_data.title }}</h5>
            <small class="text-muted d-block mb-2">
                Last modified: {{ note_data.updated_at|timesince }} ago
            </small>
            <p class="text-body-secondary mb-0">{{ note_data.body|linebreaksbr|safe }}</p>
        </div>
        <div class="position-absolute bottom-0 end-0 mb-2 me-2">
            <a href="{% url 'delete_note' note_data.id %}" class="btn btn-sm btn-danger me-2">Delete</a>
            <a href="{% url 'update_note' note_data.id %}" class="btn btn-sm btn-primary">Update</a>
        </div>
    </div>
</div>
{% endif %}
